// Заголовки, загальні БЕМ блоки та інше...

//========================================================================================================================================================

// .fancybox__container {
//     max-width: none;
// }

//========================================================================================================================================================

.title {
  font-family: "ALS Hauss";
  font-weight: 900;
  font-size: 26px;
  line-height: 96%;
  letter-spacing: -0.04em;
  text-align: center;
  color: #0c55bb;
  &_black {
    color: #2f2f33;
  }
}
